* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#search {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #ccc;
}
.input-box {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.input-box > input {
    font-size: 1.5rem;
}
/*filters component*/
#filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#filters > input {

}