:root {
    --primary-color: #666;
    --secondary-color: #ffa200;
    --lighter-gray: #dfdfdf;
    --light-gray: #8f8f8f;
    --text-color-dark: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#search {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: var(--primary-color);
}
#search .input-box > input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.input-box {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}
.input-box > input {
    font-size: 1.5rem;
}
.search-icon {
    font-size: 2rem;
}
/*filters component*/
#filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#filters > input[type='text'] {
    background: inherit;
}
/* Showcase Component */
#showcase {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
/* MoviesList component */
#movies-list {
    overflow: scroll;
    border-right: 1px solid var(--primary-color);
}
#movies-list > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*margin-left: 2rem;*/
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--light-gray);
}
#movies-list > div:hover {
    background: var(--lighter-gray);
}
#movies-list > div > img {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}
/* MovieDetails component */
#movie-details {
    padding: 2rem;
}
#movie-details > .movie-title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "image . button"
    "image title title"
    "image details details"
;
}
.movie-title img{
    grid-area: image;
    padding-right: 2rem;
    margin-bottom: 2rem;
}
.tag {
    display: inline-block;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 5px 12px;
    margin-right: 15px;
    font-size: 1rem;
}
.watchlist-btn {
    grid-area: button;
    justify-self: end;
}
.watchlist-btn > div {
    text-align: center;
    margin-right: 2rem;
    color: var(--text-color-dark);
    font-size: 1rem;
    border: 1px solid var(--text-color-dark);
}
.btn-outline {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    color: var(--text-color-dark);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 15px;
    font-size: 1.2rem;
}
.btn-outline:hover {
    background-color: var(--light-gray);
}

.movie-details {
    grid-area: title;
    padding-right: 2rem;
}
.movie-details > h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--text-color-dark);
}
.movie-details > p {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--light-gray);
}
.movie-staff {
    grid-area: details;
}
.movie-staff > p {
    font-size: 1.3rem;

    color: var(--light-gray);
}
#selected-movie > .movie-plot {
    text-align: left;
    padding: 30px 0;
    border-bottom: 1px solid var(--light-gray);
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--light-gray);
}
#selected-movie > .movie-plot p {
    padding-right: 5rem;
}
/* Movie details section*/
#selected-movie .message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: var(--light-gray);
    text-align: center;
    padding: 0 2rem;
}
.movie-ratings {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.rating-box {
    align-self: start;
    justify-self: center;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}
.rating-box:first-child,
.rating-box:nth-child(2) {
    border-right: 1px solid var(--light-gray);
}
.rating-box > h4 {
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--text-color-dark);
    margin-bottom: 0.8rem;
}
.rating-box > span {
    font-size: 1rem;
    color: var(--light-gray);
}